<a href="https://colab.research.google.com/github/KasturiRanganR4/python_ML_workouts/blob/master/Document_classification_experiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
#corpus = ['This is the first document.','This is the second document.','And the third one. One is fun.'] #normal
#corpus = ['ನಾನು ರಾಮ್.','ರಾಮ್ ಹಾಲು ಕುಡಿಯುತ್ತಾನೆ.','ಕಸ್ತೂರಿ ನಿವಾಸ ಸೂಪರ್ ಮೂವಿ.'] # it wont works normally.
corpus = ['Kastūri nivāsa sūpar mūvi.','Nānu rām.','Rām hālu kuḍiyuttāne.'] #machine transliteration works fine.
#Ram drinks milk, 'I am a ram.', Kasturi Resident Super Movie....... # this Machine translation too works good.
cv = CountVectorizer()
X = cv.fit_transform(corpus) # To get term count in each document
pd.DataFrame(X.toarray(),columns=cv.get_feature_names()) #To get Document-term matrix

   hālu  kastūri  kuḍiyuttāne  mūvi  nivāsa  nānu  rām  sūpar
0     0        1            0     1       1     0    0      1
1     0        0            0     0       0     1    1      0
2     1        0            1     0       0     0    1      0

In [32]:
# calculate the cosine similarity between all combinations of documents
from itertools import combinations
from sklearn.metrics.pairwise import cosine_similarity

# list all of the combinations of 3 take 2 as well as the pairs of phrases
pairs = list(combinations(range(len(corpus)),2))
print(pairs)
combos = [(corpus[a_index], corpus[b_index]) for (a_index, b_index) in pairs]
print(combos)

# calculate the cosine similarity for all pairs of phrases and sort by most similar
results = [cosine_similarity(X[a_index], X[b_index]) for (a_index, b_index) in pairs]
 
sorted(zip(results, combos), reverse=True) #reverse=true makes to order in descending order..

[(0, 1), (0, 2), (1, 2)]
[('Kastūri nivāsa sūpar mūvi.', 'Nānu rām.'), ('Kastūri nivāsa sūpar mūvi.', 'Rām hālu kuḍiyuttāne.'), ('Nānu rām.', 'Rām hālu kuḍiyuttāne.')]

[(array([[0.40824829]]), ('Nānu rām.', 'Rām hālu kuḍiyuttāne.')),
 (array([[0.]]), ('Kastūri nivāsa sūpar mūvi.', 'Rām hālu kuḍiyuttāne.')),
 (array([[0.]]), ('Kastūri nivāsa sūpar mūvi.', 'Nānu rām.'))]